@font-face {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local("Oswald"), url("/source/fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local("Oswald"), url("/source/fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body > * {
  flex-shrink: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: @black;
}

body {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: @black;
  background: @white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
