.button {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background: @green;
  border: none;
}

.programs__button {
  margin-bottom: 41px;
}

.main-nav__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
}

.form__group-button {
  margin-bottom: 21px;
}

.catalog__item-button--show-more {
  background: @basicgrey;
  color: @darkgrey;
}
