.button {
  font-family: "Oswald", sans-serif;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background: @green;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 14px 0;
  }
}
