.example {
  padding: 25px 20px 40px;
  background-color: @lightgrey;
}
.example__title {
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
.example__content {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: @darkgrey;
}
.example__statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.example__statistics-description {
  margin-bottom: 9px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 24px;

  &:nth-child(2){
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: @darkgrey;
  }
}
.example__expenses {
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.example__statistics-column {
  width: 124px;
  padding-top: 15px;
  text-align: center;
}
.example__slider-img--after {
  display: none;
}
.example__toggle {
  display: flex;
  justify-content: center;
}
