.form {
  padding-bottom: 32px;
}

.form__group {
  padding: 0;
  margin-bottom: 45px;
  border: none;
}

.form__group-button {
  margin-bottom: 21px;
}

.form__group-label {
  margin-bottom: 13px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.form__group--programs {
  color: @textgrey;
}

.form__group-row {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__group--programs > .form__group-label,
.form__group--information > .form__group-label {
  display: block;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__group--programs > .form__group-label > .form__group-mark {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.form__group--information > .form__group-label > .form__group-mark {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.form__group-title {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
}

.form__group-description,
.form__group-input {
  padding: 0 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @darkgrey;
}

.form__group-legend {
  line-height: 16px;
  text-align: center;
}
