.page-catalog-wrapper {
  padding-top: 26px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding-top: 45px;
  }
}
