.page-footer {
  position: relative;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    background: @white;
    padding: 76px 72px 52px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    padding: 66px 89px 59px 76px;
    top: 117px;
    right: 813px;
    z-index: 1;
  }
}

.page-footer__contacts--form {
  background: @basicgrey;

  @media (min-width: @desktop-width) {
    background: @white;
  }
}

.page-footer__contacts-description {
  margin-right: 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 21px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__contacts-description--form {
    line-height: 22px;
  }
}

.page-footer__contacts-address {
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 20px;
  color: @darkgrey;

  @media (min-width: @tablet-width) {
    text-align: right;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
  }
}

.page-footer__social-wrapper {
  background: @lightgrey;
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-footer__logo {
  margin-bottom: 31px;
}

.page-footer__logo-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: @black;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 31px;
  padding: 21px 0;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding: 0;
    border: 0;
  }
}

.page-footer__social-link {
  text-decoration: none;
  color: @black;
}

.page-footer__social-link:hover path {
  fill: @green;
}

.page-footer__social-link:active path {
  fill: @green;
  opacity: 0.3;
}

.page-footer__html-logo:hover path {
  fill: @green;
}


.page-footer__html-logo:active path {
  fill: @green;
  opacity: 0.3;
}

.page-footer__social-item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__html-name {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @darkgrey;

  @media (min-width: @tablet-width) {
    margin-right: 22px;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.page-footer__html-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__map {
  position: relative;
  overflow: hidden;
  height: 362px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.page-footer__map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.page-footer__contacts--catalog {
  @media (min-width: @tablet-width) {
    background: @basicgrey;
    padding: 60px 70px;
  }
}

.page-footer__contacts--catalog > .page-footer__contacts-description {
  @media (min-width: @tablet-width) {
    line-height: 26px;
  }
}
