.page-catalog-wrapper {
  padding-top: 30px;
  padding-bottom: 41px;
  border-top: 1px solid #9d9d9d;
  border-bottom: 1px solid #9d9d9d;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding-top: 45px;
  }
}
