@media (min-width: @desktop-width) {
  .programs {
    padding-top: 50px;
  }
}

.programs__button-wrapper {
  margin-bottom: 41px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-left: 117px;
    margin-bottom: 530px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-left: 190px;
    margin-bottom: 275px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.programs__button {
  display: block;
  width: 100%;
  font-weight: 400;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }
}

.programs__container {
  position: relative;
  padding-top: 27px;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    min-height: 302px;
    top: 0;
    bottom: -164px;
    left: 0;
    right: 0;
    background-color: @green;
    background-image: linear-gradient(to left, rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)),
    url("../img/main/background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to left, rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)),
      url("../img/main/background-mobile@2x.jpg");
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 117px;
    padding-right: 225px;
    padding-top: 58px;

    &::before {
      background: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 165px;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;

    &::before {
      top: -190px;
      left: 50%;
      width: 50%;
      min-height: 696px;
      background-image: linear-gradient(to left, rgba(104, 183, 56, 0.85),
    rgba(104, 183, 56, 0.85)),
      url("../img/main/background-desktop.jpg");
      background-repeat: no-repeat;
      background-position: 0%;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(to left, rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)),
        url("../img/main/background-desktop@2x.jpg");
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .programs__containe-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.programs__content-wrapper {
  margin-bottom: 25px;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
    color: @black;
    text-align: left;
  }
}

.programs__article {
  position: relative;
  padding: 30px 33px 21px 20px;
  margin-bottom: 20px;
  background-color: @basicgrey;

  @media (min-width: @tablet-width) {
    padding: 77px 316px 58px 52px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 77px 52px 55px;

    &:first-child {
      margin-right: 80px;
    }
  }
}

.programs__article-img--slim::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 1;
  width: 36px;
  height: 50px;
  background-image: url("../img/articles/cat-slim.svg");
  background-size: 100% auto;
  top: -5px;
  right: 2px;

  @media (min-width: @tablet-width) {
    width: 140px;
    height: 194px;
    right: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 97px;
    right: 25px;
  }
}

.programs__article-img--pro::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 1;
  width: 67px;
  height: 28px;
  background-image: url("../img/articles/cat-pro.svg");
  background-size: 100% auto;
  top: 5px;
  right: -5px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 112px;
    top: 45px;
    right: -35px;
  }


  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
    top: 22px;
    right: -10px;
  }
}

@media (min-width: @desktop-width) {
  .programs__article--slim {
    margin-right: 80px;
  }
}

.programs__article-img {
  position: absolute;
  top: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @green;

  @media (min-width: @tablet-width) {
    top: 90px;
    right: 65px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    top: 45px;
    right: 415px;
    width: 100px;
    height: 106px;
  }
}

@media (min-width: @desktop-width) {
  .programs__content-wrapper {
    width: 414px;
  }
}

.programs__content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
    font-size: 60px;
    line-height: 60px;
  }
}

.programs__content-description {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.programs__article-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 70px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 163px;
    margin-bottom: 74px;
  }
}

.programs__article-content {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  margin-bottom: 19px;
  padding-bottom: 23px;
  line-height: 18px;
  color: @darkgrey;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    width: 467px;
  }
}

.programs__article-link {
  display: flex;
  text-decoration: none;
  color: @black;

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: none;
    opacity: 0.3;
  }
}

.programs__article-description {
  margin: 0;
  margin-right: 17px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__img {
  margin: 0 auto;
  display: block;
  width: 280px;
  height: 270px;

  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: -1;
    width: 709px;
    height: 609px;
    right: 31px;
    top: 340px;
  }

  @media (min-width: @desktop-width) {
    z-index: 1;
    right: 330px;
    top: 133px;
    width: 552px;
    height: 499px;
  }
}

.programs__article-img-wrapper {
  align-self: center;
}

.programs__article-link:hover svg {
  width: 32px;
  height: 12px;
}

.programs__inner {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .programs__article-wrapper {
    display: flex;
  }
}
