.scale {
  position: relative;
  width: 82px;
  height: 12px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: @white;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }


  @media (min-width: @tablet-width) {
    width: 426px;
    height: 6px;
    background: #cdcdcd;

    &:hover {
      box-shadow: none;
    }
  }
}
