.subcatalog {
  padding-top: 25px;
  padding-bottom: 35px;
}
.subcatalog__title {
  margin-bottom: 36px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}
.subcatalog__item {
  padding-top: 13px;
  padding-bottom: 13px;
}
.subcatalog__subtitle {
  margin-bottom: 13px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: @textgrey;
}
.subcatalog__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @darkgrey;
}
.subcatalog__present {
  width: 280px;
  height: 286.88px;
  background-image: url(/source/img/catalog/background.jpg);
  color: @white;
}
.subcatalog__present-img {
  padding-top: 59px;
  text-align: center;
}
.subcatalog__present-text {
  width: 161px;
  padding-left: 58px;
 }
